$text: #546E7A;
$red: #E74C3C;
$green: #8BC34A;
$bg: #263238;
$grey: #F4F6F5;
$tg: #B0BEC5;

@mixin f500 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
@mixin f700 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}